@use 'variables' as *;

@mixin respond-to($breakpoint) {
  @if $breakpoint ==mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hide() {
  opacity: 0;
  visibility: hidden;
}

@mixin show() {
  opacity: 1;
  visibility: visible;
}
