.TextField {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.TextLabel {
    font-size: 0.8rem;
    color: #999;
}
.InputContainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 32px;
    gap: 4px;
    padding:8px;

    &:focus-within {
        outline: 2px solid #333;
    }
}
.TextInput {
    flex-grow: 1;
    font-size: 0.888rem;

    &:focus {
        outline: none;
    }
}
